<div class="registered-card-lg height-100 white-background white-border">
  <div class="row-center-static width-100 margin-none">
    <img src="{{ item.thumbnail }}" alt="" />
  </div>
  <div class="registered-text-md container-x-xs margin-y-xs">
    <div class="row-start-static width-auto margin-none">
      <p class="primary-text margin-x-xs margin-y-xxs body-md-bold">
        {{ item.name }}
      </p>
    </div>
    <div class="row-spaced-flexible width-100">
      <p class="secondary-text width-30 margin-xs body-sm-bold">
        {{ item.category.name }}
      </p>
      <p class="width-30 margin-xs body-sm-bold">
        {{ item.created | date: "longDate" }}
      </p>
    </div>
    <div class="row-spaced-flexible width-auto">
      <p class="width-30 margin-xs body-sm-bold">Progress</p>
      <progress
        id="file"
        max="100"
        value=" {{ item.progress }} "
        class="margin-x-auto width-50 container-xxs"
      ></progress>
    </div>

    <div class="row-end-static width-80 margin-x-auto container-y-xs">
      <a
        routerLink="/courses/registered/view/{{ item.id }}"
        class="
          secondary-button
          width-100
          body-sm-bold
          margin-0
          text-center
          secondary-border
          container-xxs
        "
      >
        View
      </a>
    </div>
  </div>
</div>
