<div
  class="row-center-static margin-y-auto margin-x-auto width-100 height-auto"
>
  <div
    class="
      row-spaced-flexible
      width-80
      white-background white-border
      container-x-sm
      margin-x-auto
    "
  >
    <p class="body-xl-bold primary-text width-100">Your Courses</p>

    <form action="" class="inline-form width-auto">
      <input
        type="text"
        name="search"
        id="search"
        placeholder="Search registered courses..."
      />
    </form>
  </div>
</div>

<div class="row-center-flexible width-100 margin-x-auto margin-y-lg">
  <div *ngFor="let item of registered_courses">
    <app-registered-card-large [item]="item"></app-registered-card-large>
  </div>
</div>
