<div
  class="
    course-card
    column-start-static
    light-border
    white-background
    margin-xxs
  "
>
  <div class="row-start-static width-100">
    <img src="{{ item.thumbnail }}" alt="" />
  </div>
  <div class="course-text width-100">
    <div class="row-start-static container-x-sm width-100">
      <p class="body-sm-bold primary-text width-100">{{ item.name }}</p>
    </div>
    <div class="row-start-static container-x-sm width-100">
      <p class="body-sm-bold secondary-text margin-none width-100">
        {{ item.category.name }}
      </p>
    </div>
    <div class="row-start-static container-x-sm width-100">
      <p class="body-sm-bold margin-none width-100 height-auto margin-y-xxs">
        {{ item.created | date: "longDate" }}
      </p>
    </div>
    <div class="row-end-static width-80 margin-auto">
      <a
        href="/courses/browse/view/{{ item.id }} "
        class="
          primary-button primary-border
          body-sm-bold
          container-xxs
          width-100
          text-center
        "
      >
        View
      </a>
    </div>
  </div>
</div>
