<div class="row-center-flexible margin-x-sm">
  <div class="column-start-static width-100">
    <div class="row-start-static">
      <p class="body-xl-bold margin-bottom-0">
        Search Results:
        <span class="body-xl-regular primary-text">{{ search_query }}</span>
      </p>
    </div>
    <div class="row-start-static">
      <p class="body-sm-bold">
        {{ search_results_count }} Results found for
        <span class="primary-text">"{{ search_query }}"</span>
      </p>
    </div>
  </div>
</div>
<div class="row-center-flexible width-80 margin-x-auto margin-top-0">
  <div class="row-start-flexible width-100">
    <ng-template *ngFor="let item of search_results">
      <app-course-card [item]="item"></app-course-card>
    </ng-template>
  </div>
</div>
