<div class="row-center-flexible">
  <div class="column-start-static width-100">
    <div class="row-start-static">
      <p class="body-xl-bold margin-bottom-0">
        Search Results:
        <span class="body-lg-regular primary-text">search_query</span>
      </p>
    </div>
    <div class="row-start-static">
      <p class="body-sm-bold">
        123 Results found for
        <span class="primary-text">"search_query"</span> in your registered
        courses.
      </p>
    </div>
  </div>
</div>
<div class="row-center-flexible width-80 margin-x-auto margin-top-0">
  <div class="row-start-flexible width-100">
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
    <app-course-card></app-course-card>
  </div>
</div>
