<div class="row-center-flexible margin-x-sm">
  <div class="column-start-static width-100">
    <div class="row-start-static">
      <p class="body-xl-bold margin-bottom-0">
        Search Results:
        <span class="body-lg-regular primary-text">{{ search_query }}</span>
      </p>
    </div>
    <div class="row-start-static">
      <p class="body-sm-bold">
        {{ search_results_count }} Results found for
        <span class="primary-text">"{{ search_query }}"</span> in your
        registered courses.
      </p>
    </div>
  </div>
</div>
<div class="row-center-flexible width-80 margin-x-auto margin-top-0">
  <div class="row-center-flexible width-100">
    <div *ngFor="let item of search_results">
      <app-registered-card-large [item]="item"></app-registered-card-large>
    </div>
  </div>
</div>
